.navbar {
    padding-left: 45px;
    padding-right: 45px;
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subnav a{
    color: black;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
}

.subnav a:hover {
    color: #c5cae9;
    transform: rotate(6deg);
}

.subnav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;

}

.subnav li {
    margin-left: 20px;

}

.intro {
    background-color: #c5cae9;
    padding: 60px 45px;
    display: flex;
    justify-content: flex-end;
    
}

.intro-inner {
    max-width: 700px;

}

.intro h1 {
    font-weight: normal;
    font-size: 4rem;
    margin: 0;

}

.intro p {
    font-size: 1.18rem;
    line-height: 1.6;
}

.button {
    background-color: #3949ab;
    color: #FFF;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;

}

.profpic {
    position: absolute;
    left: 200px;
    top: 100px;
}

.about {
    background-color: #e8eaf6;
    padding: 60px 45px;
    
   
}

.about-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.about-text ul{
  list-style: none;
  
}

.abouthead {
    font-size: 50px;
    align-items: center;
}

.about2home {
    background-color: #3949ab;
    color: #FFF;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;

}

.blogs2home {
    background-color: #3949ab;
    color: #FFF;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;

}
