.navbar {
    padding-left: 45px;
    padding-right: 45px;
    background-color: aqua;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.subnav a{
    color: black;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
}

.subnav a:hover {
    color: #c5cae9;
    transform: rotate(6deg);
}

.subnav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;

}

.subnav li {
    margin-left: 20px;

}

.homebg {
    background-color: #e8eaf6;
}

.intro {
    background-color: #e8eaf6;
    padding: 60px 45px;
    display: flex;
    justify-content: flex-end;
    
}

.intro-inner {
    max-width: 700px;

}

.intro h1 {
    font-weight: normal;
    font-size: 4rem;
    margin: 0;

}

.intro p {
    font-size: 1.18rem;
    line-height: 1.6;
}

.button {
    background-color: #3949ab;
    color: #FFF;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;

}

.profpic {
    position: absolute;
    left: 200px;
    top: 200px;
    
}

.about {
    background-color: #e8eaf6;
    padding: 60px 45px;
    
   
}



.about-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.about h3 {
    color: #283593;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}

.about-text ul{
  list-style: none;
  
}

.abouthead {
    font-size: 50px;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
}

.about-text h1 {
    font-family: "Source Sans Pro", sans-serif;
}

.about li {
    font-family: 'Electrolize', sans-serif;
}

.about p {
    font-family: 'Electrolize', sans-serif;
}

.about2home {
    background-color: #3949ab;
    color: #FFF;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;

}

.blogs2home {
    background-color: #3949ab;
    color: #FFF;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;

}

.blogwid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 80px;
    grid-row-gap: 150px;
}

.blogpara h3 {
    color: #283593;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    font-family: 'Electrolize', sans-serif;
}


.blogpara p {
    margin: 0;
    line-height: 1.6;
    color: #333

}

.blog {
    background-color: #e8eaf6;
    margin: 0;
    padding: 30px;
}

.blog p {
    font-family: 'Electrolize', sans-serif;
}

.blogret {
    display: flex;
    justify-content: center;
    
}

#contact {
    background-color: #e8eaf6;
    font-family: sans-serif;
}

.contact-box {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    transform: translate (-50%,-50%);
    display: grid;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 100px;
    margin-top: 50px;

}

form {
    margin: 35px;
}

.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
}

.msgsend {
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #3949ab;
    font-size: 12px;
    border: none;
    cursor: pointer;

}


.contact2home {
    background-color: #3949ab;
    color: #FFF;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;

}

.conret {
    position: absolute;
    bottom: 15px;
    left: 450px;
    
}

@media screen and (max-width: 480px) {
    
    
    .conret {
        display: none;
    }
    .profpic {
        display: none;
    }

    .homebtn {
            height: 75px;
            width: 75px;
        } 
        
     .navbar {
           display: flex;
           justify-content: space-evenly;
        
    }

    .contact-box {
        width: 100%;
        margin: 0 auto;
        left: 0%;
       
        
        
    }

    .input-field {
        width: 100%;
        
    }

  
   
}

@media screen and (max-width: 599px) {
    .contact-box {
        left: 0%;
        
    }
    .conret {
        display: none;
    }
    .profpic {
       display: none;
    
    }
    .homebtn {
        height: 100px;
        width: 100px;
    } 
    
   .navbar {
       display: flex;
       justify-content: space-evenly;
   }
    
 


}
